.box{
    width: 100px;
    height: 100px;
    background-color: red;
    text-align: right;
    margin-right: 0px;
}
#myDiv {
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#myDiv4 {
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    margin: 0 auto;
  }
  
 .button {
    display: block;
    margin: 10px auto;
  }
  #box2 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
  }